/* Tips common */
.tag-cloud-link, .tag_list a{
  border: 2px solid $global-emphasis-color;
  box-sizing: border-box;
  padding: 3px;
  color: $global-emphasis-color!important;
  word-break: keep-all;
  line-height: 2;
}

#tips_pagination{
  .page-numbers.current li{
    color: $global-link-hover-color;
  }
}


/* subnav.php */
#sub_nav{
  background: $global-background;
  .uk-search .uk-search-icon-flip{
    right: 15px;
  }

}
.uk-search-input{
  width: 210px;
  height: 40px;
  background: #252535;
  border-radius: 45px;
  padding: 0 25px;
  color: $global-inverse-color;
}


/* sidebar.php */

#sidebar{
  color: $global-emphasis-color;
  .sidebar-title{
    font-size: $global-large-font-size;
    font-weight: bold;
  }

  .popular-posts{
    margin-top: 70px;
  }
  .wpp-list,.new_list{
    padding-left: 0;
    h3{
      margin-top: 0px;
      line-height: 1.0;
    }
    li{
      h3 a{
        color: $global-emphasis-color;
        font-size: $global-font-size;
      }
      .category a{
        color: $global-color;
      }
      a{
        //color: $global-emphasis-color;
        &.category{
          color: $global-color;
        }
        &:hover{
          animation: hoverEffect 0.25s ease-in-out forwards normal;
          text-decoration: none;
        }
      }
    }
  }

}
/*single.php*/

#single{
  color: $global-emphasis-color;
  a{
    color: $global-color;
    &:hover{
      animation: hoverEffect 0.25s ease-in-out forwards normal;
      text-decoration: none;
    }
  }
  #post_content{
    margin-top:25px;
    margin-bottom: $global-large-margin;
    h2{

    }
    h2{
      margin-top: 60px;
    }
    h3{
      border-bottom: 3px solid;
    }
    h4,h5{
      font-weight: bold;
    }
    img{
      box-shadow: $global-small-box-shadow;
    }
  }
  .wp-block-code{
    background: $global-muted-background;
    //color: $global-inverse-color;
    border: 0px;
    white-space: pre-wrap;
  }
  .wp-block-quote{
    border-left: 3px solid $global-primary-background;
    padding-left: 30px;
    cite{
      font-size: $global-small-font-size;
      color: $global-muted-color;
    }
  }
  .wp-block-preformatted{
    color: $global-emphasis-color;
    white-space: pre-wrap;
  }
  em{
    color: $global-second-color;
  }

  #after_post{
    >div{
        margin-bottom: $global-margin;
    }
  }

  #author{
    &.uk-card{
      background: $global-emphasis-color;
      color: $global-inverse-color;
    }
    .uk-card-title{
      color: $global-inverse-color;
    }
  }
}
#main_tips{
  &.uk-section{
    padding-top: 0;
    padding-bottom: 0;
  }
}
#tips_list{
  h1{
    font-size: $global-large-font-size;
  }
  .uk-card-title{
    margin-top: 10px;
  }

}
#lead{
  color: $global-emphasis-color;
  font-size: $global-medium-font-size;
  background: $global-muted-background;
}
